nav {
  box-sizing: border-box;
  display: flex;
  width: 100%;
  flex-direction: column;

#topHeader  {
  position: fixed;
  display: flex;
  background-color: rgba(0,0,0,0.8);
  height: 50px;
  width: 100%;
  z-index: 110;

  .left {
    width: 15%;
    display: flex;

    a {
      margin: 0 auto;
      text-decoration: none;
      line-height: 50px;
      display: flex;

      .icon {
        width: 20px;
      }

      .name {
        margin-left: -15px;
        width: 140px;
      }
    }
  }

  .center {
    padding: 0 100px;
    width: 60%;
    display: flex;

    .dropItem {
      margin: 0 auto;
      padding: 0 1vw;

      &:hover {
        text-decoration: underline;
        background: none;
      }
    }

    ul {
      margin: 0 auto;
      padding: 0 10px;
      list-style-type: none;
      position: relative;

      li {
        display: inline-block;

        &:hover {
          background-color: #333333;

          ul {
            display: block;
          }
        }

        i {
          color: $white;
          float: right;
          padding-left: 20px;
        }
      }

      ul {
        position: absolute;
        min-width: 200px;
        background: #242423;
        display: none;

        li {
          display: block;
          background: #242423;
        }
      }
    }

    a {
      margin: 0 auto;
      text-decoration: none;
      color: $white;
      font-family: "segoe ui", sans-serif;
      line-height: 50px;
      font-weight: 600;
    }

    .bars {
      background: #242423;
      color: $white;
      font-size: 24px;
      padding: 0.6em;
      cursor: pointer;
      display: none;
    }
  }

  .right {
    width: 25%;
    display: flex;
    padding-right: 80px;

    .searchBar {
      display: flex;
      margin: 0 auto;

      form {
        margin: 0 auto;
        line-height: 48px;

        input[type=text] {
          background: none;
          border: none;
          border-bottom: solid 3px $white;
          color: $white;
          font-size: 14px;
          font-family: "segoe ui", sans-serif;
          font-weight: 500px;

          &:focus {
            outline: none;
          }
        }

        a {
          color: $white;
          text-decoration: none;
        }
      }
    }

    a {
      margin: 0 auto;
      color: #ffffff;
      line-height: 50px;
    }
  }
}

  #productTopHeader {
    display: flex;
    background-color: #393938;
    height: 50px;
    width: 100%;
    z-index: 110;

    .left {
      width: 15%;
      display: flex;

      a {
        margin: 0 auto;
        text-decoration: none;
        line-height: 50px;
        display: flex;

        .icon {
          width: 20px;
        }

        .name {
          margin-left: -15px;
          width: 140px;
        }
      }
    }

    .center {
      padding: 0 100px;
      width: 60%;
      display: flex;

      .dropItem {
        margin: 0 auto;
        padding: 0 1vw;

        &:hover {
          text-decoration: underline;
          background: none;
        }
      }

      ul {
        margin: 0 auto;
        padding: 0 10px;
        list-style-type: none;
        position: relative;

        li {
          display: inline-block;

          &:hover {
            background-color: #333333;

            ul {
              display: block;
            }
          }

          i {
            color: $white;
            float: right;
            padding-left: 20px;
          }
        }

        ul {
          position: absolute;
          min-width: 200px;
          background: #242423;
          display: none;

          li {
            display: block;
            background: #242423;
          }
        }
      }

      a {
        margin: 0 auto;
        text-decoration: none;
        color: $white;
        font-family: "segoe ui", sans-serif;
        line-height: 50px;
        font-weight: 600;
      }

      .bars {
        background: #242423;
        color: $white;
        font-size: 24px;
        padding: 0.6em;
        cursor: pointer;
        display: none;
      }
    }

    .right {
      width: 25%;
      display: flex;
      padding-right: 80px;

      .searchBar {
        display: flex;
        margin: 0 auto;

        form {
          margin: 0 auto;
          line-height: 48px;

          input[type=text] {
            background: none;
            border: none;
            border-bottom: solid 3px $white;
            color: $white;
            font-size: 14px;
            font-family: "segoe ui", sans-serif;
            font-weight: 500px;

            &:focus {
              outline: none;
            }
          }

          a {
            color: $white;
            text-decoration: none;
          }
        }
      }

      a {
        margin: 0 auto;
        color: #ffffff;
        line-height: 50px;
      }
    }
  }

  #header {
    display: flex;
    background-color: #222222;
    height: 100px;
    width: 100%;
    z-index: 109;
    flex-direction: column;

    .product {
      display: flex;
      width: 100%;
      background-color: #222222;

      .name {
        width: 75%;

        h1 {
          position: absolute;
          margin: 18px 0 0 40px;
          font-family: "rollergirlsregular", sans-serif;
          color: $yellow;
          font-weight: normal;
        }

        span {
          font-family: "high_tide_-_demoregular", sans-serif;
          color: $yellow;
          font-weight: normal;
        }
      }

      .buy {
        width: 25%;
        display: flex;

        p {
          font-family: "segoe ui", sans-serif;
          color: $white;
          font-weight: bold;
          font-style: italic;
          line-height: 60px;
          right: 280px;
          position: absolute;
        }

        button {
          right: 90px;
          position: absolute;
          margin-top: 13px;
          padding: 5px 13px;
          font-size: 18px;
          background: none;
          border: solid 2px $white;
          border-radius: 25px;
          color: $white;
          width: 160px;
          transition: all .2s ease-in-out;

          &:hover {
            background-color: $white;
            color: $black;
            font-weight: bold;
            cursor: pointer;
          }
        }
      }
    }

    .secNav {
      height: 40px;
      width: 100%;
      margin-top: 60px;
      background-color: #161616;

      ul {
        list-style-type: none;
        display: flex;
        flex-direction: row;

        li {
          line-height: 40px;
          margin-left: 40px;
          margin-right: 20px;

          a {
            font-family: "segoe ui", sans-serif;
            color: $white;
            text-decoration: none;
          }
        }
      }
    }
  }
}

@media(max-width: 1410px){
  .center {
    .dropItem {
      padding: 0 1vw;
    }
  }
}

@media(max-width: 768px) {
  nav {
    .center {
      display: block;
    }
  }

  ul {
    display: none;
    position: static;
    background: #e3e3e3;

    li {
      display: block;
    }

    ul {
      position: static;
      background: #e3e3e3;
    }
  }
}